Client/.vs/Client/FileContentIndex/06783798-41f4-498f-860d-9251758f1c94.vsidx
Client/.vs/Client/FileContentIndex/5bbbd063-cb00-4052-bf8f-cc6b158f0d5b.vsidx
Client/.vs/Client/FileContentIndex/b1324cfd-ab6b-4d94-a4b6-5498915b5b33.vsidx
Client/.vs/Client/FileContentIndex/bf3608c8-889f-4b39-bf40-9af3ae14e116.vsidx
Client/.vs/Client/FileContentIndex/e0df6173-f0e7-48c6-94da-b0fd9d1e2ff7.vsidx
Client/.vs/Client/v17/.suo
Client/.vs/Client/v17/Browse.VC.db
Client/.vs/Client/v17/Browse.VC.db-shm
Client/.vs/Client/v17/Browse.VC.db-wal
Client/.vs/Client/v17/Browse.VC.opendb
Client/.vs/Client/v17/DocumentLayout.backup.json
Client/.vs/Client/v17/DocumentLayout.json
Client/.vs/Client/v17/ipch/AutoPCH/13484ee367b4f691/NETWORKMANAGER.ipch
Client/.vs/Client/v17/ipch/AutoPCH/1728a9ceb010b02d/SECURITYUTILS.ipch
Client/.vs/Client/v17/ipch/AutoPCH/28e5af2b77a369a/CREDENTIALSMANAGER.ipch
Client/.vs/Client/v17/ipch/AutoPCH/67ddb7b2b9389a2b/OBFUSCATOR.ipch
Client/.vs/Client/v17/ipch/AutoPCH/8bdaf7d9c2cf09d7/MAIN.ipch
Client/.vs/Client/v17/ipch/AutoPCH/8d87ee654a12af13/NETWORKMANAGER.ipch
Client/.vs/Client/v17/ipch/AutoPCH/936828b2019b800c/CREDENTIALSMANAGER.ipch
Client/.vs/Client/v17/ipch/AutoPCH/ae0111864c07709c/DX11RENDERER.ipch
Client/.vs/Client/v17/ipch/AutoPCH/ca73cd4dec37f1f6/OBFUSCATOR.ipch
Client/.vs/Client/v17/ipch/AutoPCH/eed7bea90b647f46/GUI.ipch
Client/.vs/Client/v17/ipch/AutoPCH/f61e16512e68ec4/VIRTUALIZATION.ipch
Client/.vs/Client/v17/ipch/AutoPCH/fcae76b6068441b1/MAIN.ipch
Client/bin/debug/Client.log
Client/bin/debug/Client.tlog/CL.command.1.tlog
Client/bin/debug/Client.tlog/CL.read.1.tlog
Client/bin/debug/Client.tlog/CL.write.1.tlog
Client/bin/debug/Client.tlog/Client.lastbuildstate
Client/bin/debug/Client.tlog/unsuccessfulbuild
Client/bin/debug/DX11Renderer.obj
Client/bin/debug/imgui.obj
Client/bin/debug/imgui_demo.obj
Client/bin/debug/imgui_draw.obj
Client/bin/debug/imgui_impl_dx11.obj
Client/bin/debug/imgui_impl_win32.obj
Client/bin/debug/imgui_widgets.obj
Client/bin/debug/main.obj
Client/bin/debug/NetworkManager.obj
Client/bin/debug/SecurityUtils.obj
Client/bin/debug/vc143.idb
Client/bin/debug/vc143.pdb
Client/bin/release/Client.log
Client/bin/release/Client.tlog/CL.command.1.tlog
Client/bin/release/Client.tlog/Cl.items.tlog
Client/bin/release/Client.tlog/CL.read.1.tlog
Client/bin/release/Client.tlog/CL.write.1.tlog
Client/bin/release/Client.tlog/Client.lastbuildstate
Client/bin/release/Client.tlog/link.command.1.tlog
Client/bin/release/Client.tlog/link.read.1.tlog
Client/bin/release/Client.tlog/link.secondary.1.tlog
Client/bin/release/Client.tlog/link.write.1.tlog
Client/bin/release/CredentialsManager.obj
Client/bin/release/DX11Renderer.obj
Client/bin/release/GUI.obj
Client/bin/release/imgui.obj
Client/bin/release/imgui_demo.obj
Client/bin/release/imgui_draw.obj
Client/bin/release/imgui_impl_dx11.obj
Client/bin/release/imgui_impl_win32.obj
Client/bin/release/imgui_widgets.obj
Client/bin/release/main.obj
Client/bin/release/NetworkManager.obj
Client/bin/release/Obfuscator.obj
Client/bin/release/release.exe.recipe
Client/bin/release/release.iobj
Client/bin/release/release.ipdb
Client/bin/release/SecurityUtils.obj
Client/bin/release/vc143.pdb
Client/output/imgui.ini
Client/output/release.exe
Client/output/release.exe.id0
Client/output/release.exe.id1
Client/output/release.exe.id2
Client/output/release.exe.nam
Client/output/release.exe.til
Client/output/release.exe.vmp
Client/output/release.pdb
Client/output/release.vmp.exe
Client/Security/Obfuscator.hg
Client/output/settings.ini
Client/imgui.ini
Client/.vs/Client/FileContentIndex/c71ed9ca-1ad5-4e87-a515-d4104f1e2f36.vsidx
